@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Raleway as the global font */
:root {
  --font-raleway: "Raleway", sans-serif;
}

body {
  @apply font-sans;
  font-family: var(--font-raleway);
  transition: 0.3s;
  /* background-image: url("/bg.png");
  background-size: contain;
  background-position: center; */
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-drawer-right
  > .ant-drawer-content-wrapper {
  box-shadow: none !important;
}

body:before,
.skills-section:before {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  content: url("/bg.png");
  opacity: 1;
  max-height: 100vh;
  overflow: hidden;
}

body:before,
.skills-section:before {
  @apply dark:opacity-[0.04];
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-raleway);
}

::-webkit-scrollbar {
  display: none;
}

.stack:nth-child(10) {
  border-right: none !important;
}

.menu-item:last-child {
  padding-right: 16px;
}

.menu-item:first-child {
  padding-left: 8px;
}

p.menu-item {
  transform: scale(2px);
  color: transparent;
  -webkit-text-stroke: 2px #000;
}

p.menu-item:hover {
  transform: scale(0.5px);
  -webkit-text-stroke: 2px #06a8f7;
}

#pointer {
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px red solid;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.mouse-click {
  background: #000;
  animation: click 0.5s;
}

@keyframes click {
  0% {
    background: red;
  }
  100% {
    background: transparent;
  }
}

@media (min-width: 1400px) {
  .about-image {
    max-width: 4900px;
    width: 100%;
    height: 100vh;
    background: #000;
    border-bottom-left-radius: 0 !important;
  }
  .about-image_img::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #000;
  }

  .about-image_img {
    min-height: 100vh !important;
    object-fit: cover;
    height: 100%;
    position: relative;
  }
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-btn-primary {
  background: #1677ff !important;
}
