@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */

body {
  transition: 0.3s;
  /* background-image: url("/bg.png");
  background-size: contain;
  background-position: center; */
}

body:before {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  content: url("/bg.png");
  opacity: 0.2;
  max-height: 100vh;
  overflow: hidden;
  filter: blur(5px);
}
/*
body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  height: 100vh;
  width: 100vw;
  z-index: -20;
  opacity: 0.7;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* letter-spacing: 0.05em; */
}

::-webkit-scrollbar {
  display: none;
}

.stack:nth-child(7) {
  border-right: none !important;
}

.menu-item:last-child {
  padding-right: 16px;
}

.menu-item:first-child {
  padding-left: 8px;
}

p.menu-item {
  transform: scale(2px); /* W3C */
  color: transparent;
  -webkit-text-stroke: 2px #000;
}

p.menu-item:hover {
  transform: scale(0.5px); /* W3C */
  -webkit-text-stroke: 2px #06a8f7;
}

#pointer {
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px red solid;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.mouse-click {
  background: #000;
  animation: click 0.5s;
}

@keyframes click {
  0% {
    background: red;
  }
  100% {
    background: transparent;
  }
}

@media (min-width: 1400px) {
  .about-image {
    max-width: 4900px; /* Set the initial width of the image */
    width: 100%;
    height: 100vh;
    background: #000;
    border-bottom-left-radius: 0 !important;
    /* Optional: Add max-width to prevent the image from becoming too large on larger screens */
  }
  .about-image_img::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #000;
  }

  .about-image_img {
    min-height: 100vh !important;
    object-fit: cover;
    height: 100%;
    position: relative;
  }
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-btn-primary {
  background: #1677ff !important;
}
