@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.stack:nth-child(7) {
  border-right: none !important;
}

.menu-item:last-child {
  padding-right: 16px;
}

.menu-item:first-child {
  padding-left: 8px;
}

p.menu-item {
  transform: scale(2px); /* W3C */
  color: transparent;
  -webkit-text-stroke: 2px #000;
}

p.menu-item:hover {
  transform: scale(0.5px); /* W3C */
  -webkit-text-stroke: 2px #06a8f7;
}

.header-stroke {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-size: 60px;
}

.skills-close-button {
  color: transparent;
  -webkit-text-stroke: 2px rgb(229, 231, 235);
  transition: all 0.3s;
}

.skills-close-button:hover {
  -webkit-text-stroke: 2px rgb(221, 38, 38, 0.1);
  background: transparent;
}
